body{
    /* background-image: url('../mochaGrunge.png'); */
}

header{
    text-align: center;
    margin-top: 20px;
}

header input{
    margin: 0 15px;
    padding: 10px 10px;
    border-radius: 10px;
}

.official{
    margin: 20px 20px 30px;
    font-size: 22px;
    color: #fff;
}

#container{
    margin-top: 50px;
}

.buttons{
    margin-left: 20px;
}

button{
    padding: 10px 40px;
    margin-right: 20px;
    border-radius: 10px;
}

button:hover{
    background-color: #777777;
}